@import url("../font/Kanit/stylesheet.css");
html, body {
  height: 100%;
  font-family: 'kanit', sans-serif;
}

.bg_us1_bot {
  background: #b4d56c;
}

.bg_us1_top {
  background: rgba(180, 213, 108, 0.64);
}

.bg_us2_bot {
  background: #fcf276;
}

.bg_us2_top {
  background: rgba(252, 242, 118, 0.64);
}

.bg_us3_bot {
  background: #95af72;
}

.bg_us3_top {
  background: rgba(149, 175, 114, 0.64);
}

.bg_us4_bot {
  background: #f49198;
}

.bg_us4_top {
  background: rgba(244, 145, 152, 0.64);
}

.bg_us5_bot {
  background: #dfb6d6;
}

.bg_us5_top {
  background: rgba(223, 182, 214, 0.64);
}

.bg_us6_bot {
  background: #ae5474;
}

.bg_us6_top {
  background: rgba(174, 84, 116, 0.64);
}

.text-color {
  color: #0c364c;
}

.btn.focus, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#btn_contact {
  width: 45px;
  height: 45px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 1.5rem;
  left: 3.5rem;
  cursor: pointer;
  z-index: 100;
  -webkit-transform: rotate(0deg) scale(0.6);
  transform: rotate(0deg) scale(0.6);
  -webkit-transition: .75s ease-in-out;
  transition: .75s ease-in-out;
}

#btn_contact span {
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  background: #0c364c;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#btn_contact span:nth-child(even) {
  left: 50%;
  border-radius: 50%;
}

#btn_contact span:nth-child(odd) {
  left: 0px;
  border-radius: 50%;
}

#btn_contact span:nth-child(1), #btn_contact span:nth-child(2), #btn_contact span:nth-child(3) {
  top: 0px;
}

#btn_contact span:nth-child(4), #btn_contact span:nth-child(5), #btn_contact span:nth-child(6) {
  top: 20px;
}

#btn_contact span:nth-child(7), #btn_contact span:nth-child(8), #btn_contact span:nth-child(9) {
  top: 40px;
}

#btn_contact span:nth-child(3), #btn_contact span:nth-child(6), #btn_contact span:nth-child(9) {
  left: 100%;
}

#btn_contact.open span {
  background: #ffffff;
}

#btn_contact.open span:nth-child(2) {
  top: 20px;
}

#btn_contact.open span:nth-child(5), #btn_contact.open span:nth-child(6) {
  left: 50%;
}

#btn_contact.open span:nth-child(8) {
  top: 20px;
}

section#main {
  position: relative;
  height: 100vh;
  z-index: 1;
  background: #ffffff;
  padding: 0 4rem;
  overflow-y: hidden;
}

section#main .container-fluid {
  padding: 0;
}

section#main .header, section#main .main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

section#main .header {
  height: 17vh;
}

section#main .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11vh;
}

section#main .header .logo img {
  width: 175px;
}

section#main .header .logo img.local {
  width: 75px;
}

section#main .header .line {
  height: 0vh;
  width: 70%;
  border: 0.75px solid #0c364c;
  margin: 0 auto;
}

section#main .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin-top: .5rem;
}

section#main .header .menu .main_menu {
  width: 71%;
  margin: 0 auto;
}

section#main .header .menu .main_menu .nav .nav-item .nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #0c364c;
}

section#main .header .menu .main_menu .nav .nav-item .nav-link:hover {
  color: #ae301a;
}

section#main .header .menu .main_menu .nav .nav-item .line_active {
  width: 50%;
  border: 1px solid #0c364c;
  margin: 0 auto;
}

section#main .main_content {
  height: 79vh;
}

section#main .main_content .sub_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  padding: 0 0 .5rem 0;
}

section#main .main_content .sub_menu .aqi {
  width: 70%;
  font-family: 'Kanit', sans-serif;
  font-size: .9rem;
  text-align: right;
}

section#main .main_content .sub_menu .aqi .btn-group {
  width: auto;
}

section#main .main_content .sub_menu .aqi .btn-group .btn {
  color: #ffffff;
  background-color: #0c364c;
  border: none;
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  border-radius: 50rem !important;
  padding: .25em .65rem .25em 1rem;
}

section#main .main_content .sub_menu .aqi .btn-group .dropdown-menu {
  background-color: #0c364c;
  border: none;
  font-size: .75rem;
  color: #ffffff;
}

section#main .main_content .sub_menu .aqi .btn-group .dropdown-menu .dropdown-item {
  cursor: pointer;
  text-transform: uppercase;
}

section#main .main_content .sub_menu .aqi .btn-group .dropdown-menu .dropdown-item:hover {
  color: #76b7b4;
  background-color: #0c364c;
}

section#main .main_content .sub_menu .aqi .btn-group .dropdown-menu .dropdown-item:active, section#main .main_content .sub_menu .aqi .btn-group .dropdown-menu .dropdown-item.active {
  color: #76b7b4;
  background-color: #0c364c;
}

section#main .main_content .sub_menu .lang {
  width: auto;
  font-family: 'Kanit', sans-serif;
  text-align: left;
}

section#main .main_content .sub_menu .lang button {
  color: #fff;
  background-color: #0c364c82;
  border-color: #0c364c00;
  border-radius: 50rem;
  font-size: .75rem;
  text-transform: uppercase;
  margin: .25rem .1rem;
  padding: 0 .75rem .1rem .75rem;
}

section#main .main_content .sub_menu .lang button:hover {
  background-color: #0c364c;
  border-color: #0c364c;
}

section#main .main_content .sub_menu .lang button.active {
  background-color: #0c364c;
  border-color: #0c364c;
  font-weight: 700;
}

section#main .main_content .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 74vh;
  border-top: 3px solid #0c364c;
  padding: 0;
}

section#main .main_content .map .bg_map {
  position: absolute;
  width: 100%;
  height: 74vh;
  margin: 0 auto;
  overflow: hidden;
}

section#main .main_content .map .bg_map #pm25_map, section#main .main_content .map .bg_map #us_map {
  width: 100%;
  height: 60vh;
  -webkit-box-shadow: 0 2px 8px #00000035;
          box-shadow: 0 2px 8px #00000035;
}

section#main .main_content .map .bg_map #pm25_map .leaflet-control-layers.custom-layout, section#main .main_content .map .bg_map #us_map .leaflet-control-layers.custom-layout {
  margin-top: 60px;
}

section#main .main_content .map .bg_map #pm25_map .leaflet-control-layers .safety-button, section#main .main_content .map .bg_map #us_map .leaflet-control-layers .safety-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: none;
}

section#main .main_content .map .bg_map #pm25_map .leaflet-control-layers .safety-button img, section#main .main_content .map .bg_map #us_map .leaflet-control-layers .safety-button img {
  width: 20px;
  height: 20px;
}

section#main .main_content .map .bg_map #pm25_map .leaflet-control-locate.active.following a, section#main .main_content .map .bg_map #us_map .leaflet-control-locate.active.following a {
  color: #fc8428;
}

section#main .main_content .map .bg_map #pm25_map .leaflet-control-locate a, section#main .main_content .map .bg_map #us_map .leaflet-control-locate a {
  font-size: .75rem;
  color: #0c364c;
}

section#main .main_content .map .bg_map #pm25_map .leaflet-bar, section#main .main_content .map .bg_map #us_map .leaflet-bar {
  border: none;
  -webkit-box-shadow: 0 3px 8px #00000059;
          box-shadow: 0 3px 8px #00000059;
}

section#main .main_content .map .bg_map #pm25_map .leaflet-bar a, section#main .main_content .map .bg_map #us_map .leaflet-bar a {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: 600;
}

section#main .main_content .map .bg_map #pm25_map .leaflet-bar a:first-child, section#main .main_content .map .bg_map #us_map .leaflet-bar a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

section#main .main_content .map .bg_map #pm25_map .leaflet-bar a:last-child, section#main .main_content .map .bg_map #us_map .leaflet-bar a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

section#main .main_content .map .bg_map #pm25_map .leaflet-control-layers, section#main .main_content .map .bg_map #us_map .leaflet-control-layers {
  border: none;
  -webkit-box-shadow: 0 3px 8px #00000059;
          box-shadow: 0 3px 8px #00000059;
}

section#main .main_content .map .bg_map #pm25_map path.leaflet-interactive, section#main .main_content .map .bg_map #us_map path.leaflet-interactive {
  stroke: #ae301a;
  stroke-width: 2;
  fill: #ae301a;
  fill-opacity: 0.1;
}

section#main .main_content .map .bg_map #pm25_map path.leaflet-control-locate-circle, section#main .main_content .map .bg_map #us_map path.leaflet-control-locate-circle {
  stroke: #0c364c;
  stroke-width: 2;
  fill: #0c364c;
  fill-opacity: 0.2;
}

section#main .main_content .map .bg_map #pm25_map circle, section#main .main_content .map .bg_map #us_map circle {
  fill: #0c364c !important;
}

section#main .main_content .map .bg_map #pm25_map .custom_marker, section#main .main_content .map .bg_map #us_map .custom_marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  color: #fff;
  border-radius: 50%;
  font-family: 'kanit', sans-serif;
  font-weight: 600;
  margin: -2px;
}

section#main .main_content .map .bg_map #pm25_map .custom_marker img, section#main .main_content .map .bg_map #us_map .custom_marker img {
  width: 50%;
  height: 50%;
}

section#main .main_content .map .bg_map #pm25_map .safety_marker, section#main .main_content .map .bg_map #us_map .safety_marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5rem;
  background: transparent;
}

section#main .main_content .map .bg_map .pm_aqi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14vh;
  font-size: 14px;
  padding: 1rem 0 1rem 0;
}

section#main .main_content .map .bg_map .pm_aqi .pm, section#main .main_content .map .bg_map .pm_aqi .aqi {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  height: 5vh;
  border: 1px solid #fff;
}

section#main .main_content .map .bg_map .pm_aqi .pm .title_pm_aqi, section#main .main_content .map .bg_map .pm_aqi .pm .detail_pm_aqi, section#main .main_content .map .bg_map .pm_aqi .aqi .title_pm_aqi, section#main .main_content .map .bg_map .pm_aqi .aqi .detail_pm_aqi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#main .main_content .map .bg_map .pm_aqi .pm .title_pm_aqi, section#main .main_content .map .bg_map .pm_aqi .aqi .title_pm_aqi {
  background: #0c364c;
  color: #ffffff;
  padding-left: 1rem;
}

section#main .main_content .map .bg_map .pm_aqi .pm .detail_pm_aqi, section#main .main_content .map .bg_map .pm_aqi .aqi .detail_pm_aqi {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  color: #ffffff;
}

section#main .main_content .map .bg_map .pm_aqi .pm .detail_pm_aqi i, section#main .main_content .map .bg_map .pm_aqi .aqi .detail_pm_aqi i {
  border-radius: 50%;
  font-size: 2em;
}

section#main .main_content .map .bg_map .pm_aqi .pm .detail_pm_aqi img, section#main .main_content .map .bg_map .pm_aqi .aqi .detail_pm_aqi img {
  width: 2.5em;
  height: 2.5em;
}

section#main .main_content .map .card {
  height: 250px;
  text-align: center;
  background: transparent;
  border: none;
  margin-top: .5rem;
}

section#main .main_content .map .card .card-header {
  text-align: left;
  border-bottom: none;
  border-radius: .75rem .75rem 0 0;
  color: #ffffff;
}

section#main .main_content .map .card .card-header p {
  width: 95%;
  font-size: 14px;
  font-size: 14px;
  overflow: hidden;
}

section#main .main_content .map .card .card-header .btn-close {
  position: absolute;
  top: 0;
  right: 1.25rem;
  color: #ffffff;
  font-size: 20px;
}

section#main .main_content .map .card .card-body {
  padding: .75rem;
}

section#main .main_content .map .card .card-body .number {
  margin-bottom: 1rem;
  text-align: right;
}

section#main .main_content .map .card .card-body .number .number_title {
  color: #ffffff;
  font-size: 80px;
  margin-bottom: -1rem;
}

section#main .main_content .map .card .card-body .number .number_footer {
  color: #ffffff;
  font-size: 14px;
}

section#main .main_content .map .card .card-body .anime {
  margin-bottom: 1rem;
}

section#main .main_content .map .card .card-body .anime img {
  width: 65px;
  margin-right: auto;
}

section#main .main_content .map .card .card-body .detail {
  width: 100%;
}

section#main .main_content .map .card .card-body .detail .detail_title {
  width: 90%;
  background: #ffffff63;
  color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 12px 16px 0 rgba(69, 91, 99, 0.1);
          box-shadow: 0 12px 16px 0 rgba(69, 91, 99, 0.1);
  font-size: 16px;
  text-align: center;
  padding: .25rem;
  margin: 0rem auto 0.5rem auto;
}

section#main .main_content .map .card .card-body .detail .time {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

section#main .main_content .map .card .card-body .table {
  font-size: 12px;
  margin-top: 1rem;
}

section#main .main_content .map .card .card-body .table td, section#main .main_content .map .card .card-body .table th {
  vertical-align: middle;
}

section#main .main_content .map .card .card-body .table td.detail_safety, section#main .main_content .map .card .card-body .table th.detail_safety {
  height: 110px;
  padding-left: 1.75rem;
}

section#main .main_content .map .card .card-body .table td.detail_safety .over, section#main .main_content .map .card .card-body .table th.detail_safety .over {
  height: 110px;
  overflow-y: auto;
  margin-bottom: 0;
}

section#main .main_content .map .card .card-footer {
  border-radius: 0 0 .75rem .75rem;
  color: #ffffff;
  font-size: 12px;
  padding: .5rem 1rem;
}

section#main .main_content .map .card .card-footer .weahter {
  text-align: left;
}

section#main .main_content .map .card .card-footer .weahter .text {
  font-size: 12px;
}

section#main .main_content .map .card .card-footer .weahter .prophecy {
  cursor: pointer;
  font-size: .9rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

section#main .main_content .map .card .card-footer .favorite {
  text-align: right;
}

section#main .main_content .map .card .card-footer .favorite .time {
  font-size: .9rem;
}

section#main .main_content .map .card .card-footer .favorite .info {
  font-size: .9rem;
}

section#main .page_views {
  position: fixed;
  bottom: 18vh;
  right: 0;
  background: #0c364c;
  font-size: 12px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: .375rem 1rem;
  vertical-align: middle;
  -webkit-transform: translateX(135px);
          transform: translateX(135px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

section#main .page_views span {
  text-align: center;
  font-weight: 600;
  margin: 0 0 0 1rem;
}

section#main .page_views:hover {
  background: #0c364c;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

section#contact {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background: #ae301a;
}

section#contact .logo_contact, section#contact .menu_contact, section#contact .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#contact .logo_contact {
  height: 95vh;
}

section#contact .logo_contact img {
  width: 500px;
}

section#contact .logo_contact img.local_contact {
  width: 250px;
}

section#contact .menu_contact {
  height: 70vh;
}

section#contact .menu_contact .contact {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#contact .menu_contact .contact .ul_contact {
  color: #ffffff;
}

section#contact .menu_contact .contact .ul_contact .li_contact {
  line-height: 2em;
}

section#contact .menu_contact .contact a {
  color: #ffffff;
}

section#contact .menu_contact .contact a:hover {
  color: #9dc02d;
  text-decoration: none;
}

section#contact .menu_contact .contact .contact_us {
  font-size: 1.5rem;
}

section#contact .menu_contact .contact .contact_us span {
  font-size: 1rem;
}

section#contact .menu_contact .contact .contact_us span a {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

section#contact .menu_contact .contact .contact_us span a:hover {
  color: #0c364c;
  text-decoration: none;
}

section#contact .menu_contact .contact .group_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#contact .menu_contact .contact .group_icon a.icon {
  width: 50px;
  height: 50.72px;
  background: #ffffff;
  border-radius: 50%;
  padding: .75rem .75rem;
  text-align: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

section#contact .menu_contact .contact .group_icon a.icon svg g g {
  fill: #ae301a;
}

section#contact .menu_contact .contact .group_icon a.icon i {
  width: 26px;
  color: #ae301a;
  font-size: 26px;
}

section#contact .menu_contact .contact .group_icon a.icon:hover {
  background: #0c364c;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

section#contact .menu_contact .contact .group_icon a.icon:hover svg g g {
  fill: #ffffff;
}

section#contact .menu_contact .contact .group_icon a.icon:hover i {
  width: 26px;
  color: #ffffff;
  font-size: 26px;
}

section#contact .menu_contact .menu_min {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

section#contact .menu_contact .menu_min .nav .nav-item .nav-link {
  font-weight: 600;
  color: #ffffff;
}

section#contact .menu_contact .menu_min .nav .nav-item .nav-link:hover {
  color: #0c364c;
}

section#contact .menu_contact .menu_min .nav .nav-item .line_active {
  width: 50%;
  border: .5px solid #ffffff;
  margin: 0 auto;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
  background: #ae301a;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: .5rem 4rem;
}

.prophecy-modal {
  z-index: 1071 !important;
}

.prophecy-modal .modal-dialog .modal-content {
  height: auto;
  text-align: center;
  border: none;
  margin-top: .5rem;
}

.prophecy-modal .modal-dialog .modal-content .modal-header {
  text-align: left;
  border-bottom: none;
  border-radius: .75rem .75rem 0 0;
  color: #0c364c;
}

.prophecy-modal .modal-dialog .modal-content .modal-header p {
  width: 95%;
  font-size: 1.25rem;
  font-weight: 600;
  overflow: hidden;
  padding-left: .5rem;
}

.prophecy-modal .modal-dialog .modal-content .modal-header .close:focus {
  outline: 0;
}

.prophecy-modal .modal-dialog .modal-content .modal-body_forecast {
  padding: 0 1rem 1rem 1rem;
}

.prophecy-modal .modal-dialog .modal-content .modal-body_forecast .card_forecast {
  background-color: #f8f9fa;
  border: none;
  border-radius: .75rem;
  text-align: center;
  padding: 1rem;
  margin: .75rem 0;
  -webkit-box-shadow: 0 12px 16px 0 #455b631a;
          box-shadow: 0 12px 16px 0 #455b631a;
}

.prophecy-modal .modal-dialog .modal-content .modal-body_forecast .card_forecast .anime_forecast {
  width: 8vw;
  border-radius: 50%;
  margin: .5rem 0;
  -webkit-box-shadow: 0 12px 16px 0 #455b631a;
          box-shadow: 0 12px 16px 0 #455b631a;
}

.prophecy-modal .modal-dialog .modal-content .modal-body_forecast .card_forecast .date_forecast {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding-top: .5rem;
  margin-bottom: .5rem;
}

.prophecy-modal .modal-dialog .modal-content .modal-body_forecast .card_forecast .pm25_forecast {
  background: #ffffff63;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-radius: 0.5rem;
  padding: .25rem 2rem;
  margin-bottom: .5rem;
  -webkit-box-shadow: 0 12px 16px 0 #455b631a;
          box-shadow: 0 12px 16px 0 #455b631a;
}

.prophecy-modal .modal-dialog .modal-content .modal-body_forecast .card_forecast .pm25_forecast b {
  font-size: 1.5rem;
}

.prophecy-modal .modal-dialog .modal-content .modal-body_forecast .card_forecast .pm25_forecast small {
  font-weight: 300;
}

.prophecy-modal .modal-dialog .modal-content .modal-body_forecast .card_forecast .detail_forecast {
  color: #ffffff;
  font-size: .75em;
  font-weight: 300;
  text-align: center;
  padding-top: .5rem;
  margin-bottom: .5rem;
}

.prophecy-modal .modal-dialog .modal-content .modal-body_forecast .card_forecast .chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 47vw;
  max-height: 25vh;
  color: #ffffff;
  border-radius: 15px;
  margin: 1rem 0;
}

.prophecy-modal .modal-dialog .modal-content .modal-body_forecast .card_forecast .chart canvas {
  max-width: 47vw;
  max-height: 25vh;
}

@media (max-width: 575.98px) {
  body {
    overflow: hidden;
  }
  #btn_contact {
    top: .5rem;
    left: .5rem;
  }
  section#main {
    padding: 0 .5rem;
    overflow-x: hidden;
  }
  section#main .container-fluid {
    padding: 0 15px 0 15px;
  }
  section#main .header {
    height: 10vh;
  }
  section#main .header .logo img {
    width: 150px;
  }
  section#main .header .logo img.local {
    width: 20%;
  }
  section#main .header .menu {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1rem;
  }
  section#main .header .menu .main_menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  section#main .header .menu .main_menu .nav-item {
    width: 100%;
    text-align: center;
  }
  section#main .header .menu .main_menu .nav-item .line_active {
    width: 30% !important;
  }
  section#main .main_content .sub_menu {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  section#main .main_content .sub_menu .aqi {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    font-size: 0.75rem;
  }
  section#main .main_content .sub_menu .aqi .dropdown-toggle {
    -webkit-transition: .5s;
    transition: .5s;
  }
  section#main .main_content .sub_menu .lang {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  section#main .main_content .sub_menu .lang button {
    font-size: 0.7rem;
  }
  section#main .main_content .map .bg_map {
    height: auto;
  }
  section#main .main_content .map .bg_map #us_map {
    height: 63vh;
  }
  section#main .main_content .map .bg_map .pm_aqi .pm .title_pm_aqi, section#main .main_content .map .bg_map .pm_aqi .pm .detail_pm_aqi, section#main .main_content .map .bg_map .pm_aqi .aqi .title_pm_aqi, section#main .main_content .map .bg_map .pm_aqi .aqi .detail_pm_aqi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  section#main .main_content .map .bg_map .pm_aqi .pm .title_pm_aqi, section#main .main_content .map .bg_map .pm_aqi .aqi .title_pm_aqi {
    height: 100%;
    font-size: .5em;
  }
  section#main .main_content .map .bg_map .pm_aqi .pm .detail_pm_aqi, section#main .main_content .map .bg_map .pm_aqi .aqi .detail_pm_aqi {
    height: 100%;
    font-size: 10px;
  }
  section#main .main_content .map .card .card-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 13px;
    padding: .75rem 1rem 0 1rem;
  }
  section#main .main_content .map .card .card-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1.25rem 0 1.25rem;
  }
  section#main .main_content .map .card .card-body .number {
    text-align: center;
    margin-bottom: .5rem;
  }
  section#main .main_content .map .card .card-body .number .number_title {
    font-size: 6rem;
    margin-top: -1.5rem;
  }
  section#main .main_content .map .card .card-body .detail {
    margin-bottom: .5rem;
  }
  section#main .main_content .map .card .card-body .detail .detail_title {
    width: 100%;
    font-size: 13px;
  }
  section#main .main_content .map .card .card-body .detail .time {
    font-size: 11px;
  }
  section#main .main_content .map .card .card-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#main .main_content .map .card .card-footer .weahter {
    text-align: center;
  }
  section#main .main_content .map .card .card-footer .favorite {
    text-align: center;
  }
  section#main .main_content .map .card .card-footer .text {
    font-size: 12px !important;
  }
  section#contact {
    position: absolute;
  }
  section#contact .logo_contact {
    height: auto;
    margin-top: .25rem;
  }
  section#contact .logo_contact img {
    width: 150px;
  }
  section#contact .logo_contact img.local_contact {
    width: 20%;
  }
  section#contact .menu_contact {
    height: auto;
    margin-bottom: 2rem;
    font-size: .8rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#contact .menu_contact .menu_min {
    margin-top: 1rem;
  }
  section#contact .menu_contact .menu_min .nav {
    width: 100%;
    text-align: left !important;
  }
  section#contact .menu_contact .menu_min .nav .nav-item {
    text-align: center;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link {
    font-weight: 600;
    color: #ffffff;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link:hover {
    color: #0c364c;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link.active {
    color: #0c364c;
  }
  section#contact .menu_contact .line {
    width: 100%;
    border: .5px solid #ffffff;
  }
  section#contact .menu_contact .contact {
    text-align: center;
  }
  section#contact .menu_contact .contact .contact_us {
    font-size: 24px;
  }
  section#contact .menu_contact .contact .group_icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#contact .menu_contact .contact img {
    width: 150px;
  }
  section#contact .menu_contact .contact img.local_contact {
    width: 53px;
    height: 53.72px;
    border-radius: 50%;
  }
  footer {
    font-size: 10px;
    padding: .5rem 0rem;
  }
  .prophecy-modal .modal-header p {
    font-size: 1rem !important;
  }
  .prophecy-modal .anime_forecast {
    width: 100% !important;
  }
  .prophecy-modal .date_forecast {
    font-size: .75rem !important;
  }
  .prophecy-modal .pm25_forecast {
    font-size: .75rem !important;
    padding: .25rem 1rem !important;
  }
  .prophecy-modal .pm25_forecast b {
    font-size: 1rem !important;
  }
  .prophecy-modal .detail_forecast {
    font-size: .75rem !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    height: auto;
  }
  #btn_contact {
    top: 1rem;
    left: 2.75rem;
  }
  section#main {
    height: auto;
    overflow-y: auto;
  }
  section#main .header {
    height: 25vh;
  }
  section#main .header .logo {
    height: auto;
  }
  section#main .main_content {
    height: auto;
  }
  section#main .main_content .sub_menu {
    height: auto;
  }
  section#main .main_content .sub_menu .aqi {
    width: auto;
  }
  section#main .main_content .sub_menu .lang {
    width: auto;
  }
  section#main .main_content .map {
    height: 120vh;
  }
  section#main .main_content .map .bg_map {
    height: auto;
  }
  section#main .main_content .map .bg_map #us_map {
    height: 80vh;
  }
  section#main .main_content .map .bg_map .pm_aqi {
    height: auto;
  }
  section#main .main_content .map .bg_map .pm_aqi .pm {
    height: 10vh;
  }
  section#main .main_content .map .bg_map .pm_aqi .aqi {
    height: 10vh;
  }
  section#main .main_content .map .card {
    height: 200px;
  }
  section#main .main_content .map .card .card-body {
    padding: 0rem .75rem .75rem .75rem;
  }
  section#main .main_content .map .card .card-body .number {
    text-align: center;
  }
  section#main .main_content .map .card .card-body .number .number_title {
    font-size: 3.5rem;
    margin-bottom: -.5rem;
  }
  section#main .main_content .map .card .card-body .detail .detail_title {
    font-size: 14px;
  }
  section#main .main_content .map .card .card-footer .weahter {
    text-align: center;
  }
  section#main .main_content .map .card .card-footer .favorite {
    text-align: center;
  }
  section#contact {
    position: absolute;
    height: 150vh;
  }
  section#contact .logo_contact {
    height: auto;
  }
  section#contact .logo_contact img {
    width: 150px;
  }
  section#contact .logo_contact img.local_contact {
    width: 20%;
  }
  section#contact .menu_contact {
    height: auto;
    margin-bottom: 2rem;
    font-size: .8rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#contact .menu_contact .menu_min {
    margin-top: 1rem;
  }
  section#contact .menu_contact .menu_min .nav {
    width: 100%;
    text-align: left !important;
  }
  section#contact .menu_contact .menu_min .nav .nav-item {
    text-align: center;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link {
    font-weight: 600;
    color: #ffffff;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link:hover {
    color: #0c364c;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link.active {
    color: #0c364c;
  }
  section#contact .menu_contact .line {
    width: 100%;
    border: .5px solid #ffffff;
  }
  section#contact .menu_contact .contact {
    text-align: center;
    margin-top: 1rem;
  }
  section#contact .menu_contact .contact .contact_us {
    font-size: 24px;
  }
  section#contact .menu_contact .contact .group_icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#contact .footer {
    bottom: 0;
    height: auto;
  }
  footer {
    padding: .5rem 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    overflow: hidden;
  }
  #btn_contact {
    top: 2rem;
    left: 3rem;
  }
  section#main .header {
    height: 15vh;
  }
  section#main .header .logo {
    height: auto;
  }
  section#main .main_content {
    height: auto;
  }
  section#main .main_content .sub_menu {
    height: auto;
  }
  section#main .main_content .sub_menu .aqi {
    width: auto;
  }
  section#main .main_content .sub_menu .lang {
    width: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  section#main .header {
    height: 15vh;
  }
  section#main .header .logo {
    height: auto;
  }
  section#main .header .logo img {
    width: 150px;
  }
  section#main .header .logo img.local {
    width: 75px;
  }
  .col-lg-custom {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27%;
            flex: 0 0 27%;
    max-width: 27%;
  }
}

.anime_delay025 {
  -webkit-animation-delay: .25s !important;
          animation-delay: .25s !important;
}

.anime_delay05 {
  -webkit-animation-delay: .5s !important;
          animation-delay: .5s !important;
}

.anime_delay075 {
  -webkit-animation-delay: .75s !important;
          animation-delay: .75s !important;
}

.anime_delay1 {
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
}

.anime_delay125 {
  -webkit-animation-delay: 1.25s !important;
          animation-delay: 1.25s !important;
}

.anime_delay15 {
  -webkit-animation-delay: 1.5s !important;
          animation-delay: 1.5s !important;
}

.anime_delay175 {
  -webkit-animation-delay: 1.75s !important;
          animation-delay: 1.75s !important;
}

.anime_delay2 {
  -webkit-animation-delay: 2s !important;
          animation-delay: 2s !important;
}

.anime_delay3 {
  -webkit-animation-delay: 3s !important;
          animation-delay: 3s !important;
}

.anime_delay4 {
  -webkit-animation-delay: 4s !important;
          animation-delay: 4s !important;
}

.anime_delay5 {
  -webkit-animation-delay: 5s !important;
          animation-delay: 5s !important;
}

.fade_in {
  -webkit-animation: fade_in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade_in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade_out {
  -webkit-animation: fade_out 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade_out 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade_in_ture {
  -webkit-animation: fade_in_ture 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade_in_ture 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade_out_ture {
  -webkit-animation: fade_out_ture 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade_out_ture 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.slide_in_left {
  -webkit-animation: slide_in_left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide_in_left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide_in_right {
  -webkit-animation: slide_in_right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide_in_right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slit_in_vertical {
  -webkit-animation: slit_in_vertical_marker 0.5s ease-out both;
          animation: slit_in_vertical_marker 0.5s ease-out both;
}

.slit_in_vertical_s {
  -webkit-animation: slit_in_vertical 0.5s ease-out both;
          animation: slit_in_vertical 0.5s ease-out both;
}

.slit_out_vertical {
  -webkit-animation: slit_out_vertical 0.5s ease-out both;
          animation: slit_out_vertical 0.5s ease-out both;
}

.shadow-drop-bottom {
  -webkit-animation: shadow-drop-bottom 0.6s both;
          animation: shadow-drop-bottom 0.6s both;
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
          animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.shadow-drop-bottom-sub_menu {
  -webkit-animation: shadow-drop-bottom-sub_menu 0.6s both;
          animation: shadow-drop-bottom-sub_menu 0.6s both;
}

.text-shadow-drop-bottom {
  -webkit-animation: text-shadow-drop-bottom 1.75s ease-in-out both;
          animation: text-shadow-drop-bottom 1.75s ease-in-out both;
}

.text-shadow-drop-bottom-icon {
  -webkit-animation: text-shadow-drop-bottom-icon 1.75s ease-in-out both;
          animation: text-shadow-drop-bottom-icon 1.75s ease-in-out both;
}

.shadow-drop-bottom-icon {
  -webkit-animation: shadow-drop-bottom-icon 1.75s ease-in-out both;
          animation: shadow-drop-bottom-icon 1.75s ease-in-out both;
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes fade_in_ture {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in_ture {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade_out_ture {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_out_ture {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide_in_left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide_in_left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide_in_right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide_in_right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slit_in_vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    z-index: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    z-index: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}

@keyframes slit_in_vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    z-index: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    z-index: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}

@-webkit-keyframes slit_in_vertical_marker {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #afafaf;
            box-shadow: 0px 0px 0px 0px #afafaf;
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    z-index: 0;
  }
  54% {
    -webkit-box-shadow: 0px 0px 0px 0px #afafaf;
            box-shadow: 0px 0px 0px 0px #afafaf;
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    z-index: 1;
  }
  100% {
    -webkit-box-shadow: 0px 0px 5px 0px #858585;
            box-shadow: 0px 0px 5px 0px #858585;
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}

@keyframes slit_in_vertical_marker {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #afafaf;
            box-shadow: 0px 0px 0px 0px #afafaf;
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    z-index: 0;
  }
  54% {
    -webkit-box-shadow: 0px 0px 0px 0px #afafaf;
            box-shadow: 0px 0px 0px 0px #afafaf;
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    z-index: 1;
  }
  100% {
    -webkit-box-shadow: 0px 0px 5px 0px #858585;
            box-shadow: 0px 0px 5px 0px #858585;
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}

@-webkit-keyframes slit_out_vertical {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
    opacity: 1;
    z-index: 1;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    z-index: 1;
  }
  100% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    z-index: 0;
  }
}

@keyframes slit_out_vertical {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
    opacity: 1;
    z-index: 1;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    z-index: 1;
  }
  100% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@-webkit-keyframes shadow-drop-bottom-sub_menu {
  0% {
    -webkit-box-shadow: 0 0 0 #000000;
            box-shadow: 0 0 0 #000000;
  }
  100% {
    -webkit-box-shadow: 0 3px 8px #00000059;
            box-shadow: 0 3px 8px #00000059;
  }
}

@keyframes shadow-drop-bottom-sub_menu {
  0% {
    -webkit-box-shadow: 0 0 0 #000000;
            box-shadow: 0 0 0 #000000;
  }
  100% {
    -webkit-box-shadow: 0 3px 8px #00000059;
            box-shadow: 0 3px 8px #00000059;
  }
}

@-webkit-keyframes text-shadow-drop-bottom {
  0% {
    color: #0c364c;
    text-shadow: 0 0 0 #00000000;
  }
  100% {
    color: #ffffff;
    text-shadow: 0 6px 18px #00000059;
  }
}

@keyframes text-shadow-drop-bottom {
  0% {
    color: #0c364c;
    text-shadow: 0 0 0 #00000000;
  }
  100% {
    color: #ffffff;
    text-shadow: 0 6px 18px #00000059;
  }
}

@-webkit-keyframes text-shadow-drop-bottom-icon {
  0% {
    color: #0c364c;
    text-shadow: 0 0 0 #00000000;
  }
  100% {
    color: #ffffff;
    text-shadow: 0 6px 18px #00000059;
  }
}

@keyframes text-shadow-drop-bottom-icon {
  0% {
    color: #0c364c;
    text-shadow: 0 0 0 #00000000;
  }
  100% {
    color: #ffffff;
    text-shadow: 0 6px 18px #00000059;
  }
}

@-webkit-keyframes shadow-drop-bottom-icon {
  0% {
    -webkit-box-shadow: 0 0 0 #00000000;
            box-shadow: 0 0 0 #00000000;
  }
  100% {
    -webkit-box-shadow: 0 6px 14px #00000059;
            box-shadow: 0 6px 14px #00000059;
  }
}

@keyframes shadow-drop-bottom-icon {
  0% {
    -webkit-box-shadow: 0 0 0 #00000000;
            box-shadow: 0 0 0 #00000000;
  }
  100% {
    -webkit-box-shadow: 0 6px 14px #00000059;
            box-shadow: 0 6px 14px #00000059;
  }
}
/*# sourceMappingURL=style.css.map */